body {
	margin:0px;
	overflow: hidden;
	max-height:100%;
	background-color: #0D83DD !important;
}

#dialogboxDiv
{
 
}
#dialogboxDiv .dialog-body
{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: auto;
  top: calc((90% - 200px)/2);
  left: calc((100% - 420px)/2);
  background-color: #e9e9e9;
  border-radius: 10px;
  padding: 40px;
}


#dialogboxDiv .dialog-body .form-logo
{
  position: absolute;
  background-image: url(logo.png);
  width: 420px;
  height: 200px;
  top: -170px;
  left: +10;
}


#dialogboxDiv .dialog-body .form-block
{
	font-family: Verdana,sans-serif;
	color: black;
	font-size: .75em;
	line-height: 20px;
}

#dialogboxDiv .dialog-body .form-block label
{
  display: block;
  font-family: Arial,Helvetica,sans-serif;
  margin-bottom: 3px;
  float: none;
  text-align: left;
  font-size: 15px;
  width: auto;
}

#dialogboxDiv .dialog-body .form-block .form-error
{
  color: red;
}

#dialogboxDiv .dialog-body .form-block .error
{
  color: red;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#dialogboxDiv .dialog-body .form-block input[type="text"]
{
    width: 408px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	font-size: 15px;
	padding: 8px 5px;
	margin: 0 0 12px 0;
}

#dialogboxDiv .dialog-body .form-block input[type="password"]
{
    width: 408px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	font-size: 15px;
	padding: 8px 5px;
	margin: 0 0 12px 0;
}

#dialogboxDiv .dialog-body .form-block button, input[type="submit"]
{
	margin: 5px 0 10px 0;
	min-width: 140px;
	-webkit-box-shadow: 0 1px 0 #9dd04b inset;
	-moz-box-shadow: 0 1px 0 #9dd04b inset;
	box-shadow: 0 1px 0 #9dd04b inset;
	text-shadow: 0 0 1px rgba(0,0,0,0.4);
	background-color: #85c51f;
	border: 1px solid #659c17;
	font-size: 18px;
	font-weight: bold;
	height: 45px;
	line-height: 43px;
	padding: 0 19px;
	color: #fff!important;
	cursor: pointer;
	display: block;
	float: left;
	font: bold 14px/28px Arial,Helvetica,sans-serif;
	text-align: center;
	text-decoration: none!important;
	white-space: nowrap;
}

#dialogboxDiv .dialog-body .form-block .form-extra
{
  margin-left: 20px;
  line-height: 25px;
  float: left;
}

#dialogboxDiv .dialog-body .form-block a:link, a:visited, a:active {
  color: #00f;
}

